<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_5.dtd" >

<web-app

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="Your_WebApp_ID"
  version="2.5">


  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ServName</servlet-name>
    <servlet-class>NameServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServName</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ServSurname</servlet-name>
    <servlet-class>SurnameServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServSurname</servlet-name>
    <url-pattern>/surname</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServPatronymic</servlet-name>
    <servlet-class>PatronymicServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServPatronymic</servlet-name>
    <url-pattern>/patronymic</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServResult</servlet-name>
    <servlet-class>ResultServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServResult</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>



</web-app>


